
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(23, 23, 23);
}
ul{
    margin: 0;
}
.svg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.5s ease;
    width: 300px;  
    height: 155px; 
    z-index: 3;
}
.content {
    margin-top: 110vh; 
    padding: 20px;
    font-size: 18px;
}

.scrolled-up .svg-container {
    top: 30px;
    left: 30px;
    transform: translate(0, 0);
    width: 150px; 
    height: 26px; 
}
#word {
    color: rgb(255, 255, 255); /* Change the color here */
  }
  
/* For Search button*/
.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #275595;
    height: z0px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

/* Base styles for the navbar */
.navbar {
    position: fixed;
    top: 0px;
    right: 0px; 
    display: none; /* Hide by default */
    padding-top: 20px;
    width: 100%;
    height: 70px;
    background-color: #000000;
}

.scrolled .navbar {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed; /* Make the navbar fixed */
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Navbar right section */
.navright {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-right: 20px;
}

/* Responsive navbar styles */
.nav-responsive {
    display: none;
    padding-left: 70px; /* Add margin to push down the links */
    padding-top: 20px;
}

.nav-responsive a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
}

/* Hamburger menu container */
.container {
    display: none;
    cursor: pointer;
    padding: 5px;
    background-color: #2c2c2c00;
    color: aliceblue;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fcfcfc;
    margin: 6px 0;
    transition: 0.4s;
}

/* Hamburger menu transformation */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

svg:hover {
    fill: initial;
}

/* Navbar links */
.navbar a {
    color: #FFF;
    text-decoration: none;
    
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
div.nav-desktop a:before, div.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.nav-desktop a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.nav-desktop a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.nav-desktop a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}


/* List items style reset */
li {
    list-style-type: none;
}





