
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(23, 23, 23);
}
ul p{
    margin: 0;
    color: whitesmoke;
}
p{
    color: #0277bd;
}

.svg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    width: 300px;
<<<<<<< Updated upstream
    height: 155px;
=======
    height: 110px;
>>>>>>> Stashed changes
    z-index: 3;
}
.content {
    margin-top: 110vh;
    padding: 20px;
    font-size: 18px;
}

.scrolled-up .svg-container {
    top: 30px;
    left: 30px;
    transform: translate(0, 0);
    width: 150px;
    height: 26px;
}
#word {
    color: rgb(255, 255, 255); /* Change the color here */
  }
  
/* For Search button*/
.searchbox {
    display: relative;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 50px;
    .search {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: rgb(34, 29, 128);
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      /* box-shadow: 0 0 25px 0 crimson;*/
      &:hover {
        cursor: pointer;
      }
      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all 0.5s;
      }
      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all 0.5s;
      }
    }
    input {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      outline: none;
      border: none;
      /* border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
      background: rgb(139, 174, 182);
      color: white;
      text-shadow: 0 0 10px rgb(55, 45, 47);
      padding: 0 80px 0 20px;
      border-radius: 30px;
      box-shadow: 0 0 25px 0 rgb(149, 103, 112), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
      /*box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);*/
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      font-weight: bolder;
      letter-spacing: 0.1em;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
      }
      &:focus ~ .search {
        left: -135px;
        background: #571818;
        z-index: 6;
        &::before {
          top: 0;
          left: 0;
          width: 25px;
        }
        &::after {
          top: 0;
          left: 0;
          width: 25px;
          height: 2px;
          border: none;
          background: white;
          border-radius: 0%;
          transform: rotate(-45deg);
        }
      }
      &::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
        text-align: right;
      }
    }
  }

<<<<<<< Updated upstream
=======
    background: #275595;
    height: 30px;
    border-radius: 40px;
    padding:5px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.fa-search {
    position: relative;
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.highlight {
    background-color: yellow;
    transition: background-color 1s ease;
}
>>>>>>> Stashed changes
/* Base styles for the navbar */
.navbar {
    position: fixed;
    top: 0px;
    right: 0px; 
    display: none; /* Hide by default */
    
    padding-top: 10px;
    width: 100%;
    height: 80px;
    background-color: #000000;
}

.scrolled .navbar {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed; /* Make the navbar fixed */
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Navbar right section */
.navright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    margin-right: 20px;
}

/* Responsive navbar styles */
.nav-responsive {
    display: none;
    padding-left: 70px; /* Add margin to push down the links */
    padding-top: 20px;
}

.nav-responsive a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
}

/* Hamburger menu container */
.container {
    display: none;
    cursor: pointer;
    padding: 5px;
    background-color: #2c2c2c00;
    color: aliceblue;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fcfcfc;
    margin: 5px 0;
    transition: 0.4s;
}

/* Hamburger menu transformation */
.change .bar1 {
    transform: translateY(8px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translateY(-8px) rotate(45deg);
}
svg:hover {
    fill: initial;
}

/* Navbar links */
.navbar a {
    color: #737373;
    text-decoration: none;
    
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
div.nav-desktop a:before, div.nav-desktop a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
<<<<<<< Updated upstream
    background: #FFF;
=======
    background: #ffffff;
>>>>>>> Stashed changes
    transition: all 0.3s;
}

div.nav-desktop a:before
{
    left: 0px;
    top: 0px;
}

div.nav-desktop a:after
{
    right: 0px;
    bottom: 0px;
}

div.nav-desktop a:hover:before, div.nav-desktop a:hover:after
{
    opacity: 1;
    width: 100%;
}

/* List items style reset */
li {
    list-style-type: none;
}





<<<<<<< Updated upstream
=======






@media (max-width: 768px) {
    html,
    body {
      background-size: cover;
    }
    .scrolled-up .svg-container {
        top: 30px;
        left: 50px;
        transform: translate(0, 0);
        width: 10px; 
  
    }
    .navbar{
        width: 100%;
        background:black;
    }
  .navright {
    
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr;
    align-items: center;
    background:black;
    padding: 10px;
    position: fixed; /* Make the navbar fixed */
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .nav-desktop {
    display: none;
  }
  
  .searchBox {
    position: relative;
    background: #275595;
    height: 20px;
    border-radius: 40px;
    right: 20px;
    padding:7px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.fa-search {
    position: relative;
    color: white;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    width: 0px;

}

  .nav-responsive {
    display: none;
  }
  
  .container {
    display: block;
  }
  
  .container .bar1,
  .container .bar2,
  .container .bar3 {
    display: block;
    position: relative;
    right: 20px;
  }
  .navbar a {
  
      margin: 0 10px; /* Adjust margin for smaller screens */
  }
}
>>>>>>> Stashed changes
