@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: linear-gradient(to top, rgb(255, 166, 0) 30%, rgba(255, 200, 0, 0.7) 100%);
	background-size: cover;
	}
  
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}
.middlebody{
display: flex;
height: calc(100vh - 200px);
width: 100%;
justify-content: center;
}
.wrapper {
	
	display: grid;
	column-gap: 40px;
	margin-top:100px;
	row-gap: 10px;
    grid-template-columns: 1fr 1fr ;
	align-items: center;
	justify-content: space-evenly;
	
	

}

.card {
	position: relative;
	width: 200px;
	height: 200px;
	justify-content: center;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}

.card .front {
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px #fff;
}

.card .front img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-h1 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: rgba(0, 0, 0, .4);
	text-align: center;
	
}

.card .back {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transform: perspective(600px) rotateY(180deg);
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	padding: 15px;
	color: rgb(255, 247, 249);
	text-align: center;
	box-shadow: 0 5px 10px #fff;
}

.links {
	border-top: 1px solid rgb(255, 251, 2);
	height: 50px;
	line-height: 50px;
}

.link-a {
	color:  rgb(255, 251, 2);
}

.card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
}

.searchBox {
		background: #275595;
		height: 40px !important;
		border-radius: 40px;
		padding: 5px;
	}
	@media (max-width:932px) {
	.middlebody{
		display: flex;
		height: calc(100vh);
		margin-bottom: 20px;
		width: 100%;
		justify-content: center;
		}
	}