
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(23, 23, 23);
}
ul p{
    margin: 0;
    color: whitesmoke;
}
.svg-container {
    position:absolute;
    top:10px;
    left:50px
}
.content {
    margin-top:0;
    font-size: 18px;
    display: flex;
    flex-direction: column;

}

#word {
    color: rgb(255, 255, 255); 
    font-size: 12px;
    font-family: cursive, sans-serif;

    /* Change the color here */
  }
  
/* For Search button*/
.searchBox {

    background: #275595;
    height: 30px;
    border-radius: 40px;
    padding:5px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #737373;
}

.fa-search {
    position: relative;
    color: rgb(97, 97, 97);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000000;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.fa-search:hover{
    color: white;
}
.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;

}
@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

/* Base styles for the navbar */
.navbar {
    position: fixed;
    top: 0px;
    right: 0px; 
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 3;
    background-color: #000000;
    
}

.scrolled .navbar {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed; /* Make the navbar fixed */
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Navbar right section */
.navright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    margin-right: 20px;
}

/* Responsive navbar styles */
.nav-responsive {
    display: none;
    padding-left: 70px; /* Add margin to push down the links */
    padding-top: 20px;
}

.nav-responsive a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
}

/* Hamburger menu container */
.container {
    display: none;
    cursor: pointer;
    padding: 5px;
    background-color: #2c2c2c00;
    color: aliceblue;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fcfcfc;
    margin: 5px 0;
    transition: 0.4s;
}

/* Hamburger menu transformation */
.change .bar1 {
    transform: translateY(8px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translateY(-8px) rotate(45deg);
}
svg:hover {
    fill: initial;
}

/* Navbar links */
.navbar a {
    color: #737373;
    text-decoration: none;
    
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.navbar a:hover{
    color:#ffffff
}
div.nav-desktop a:before, div.nav-desktop a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #ffffff;
    transition: all 0.3s;
}

div.nav-desktop a:before
{
    left: 0px;
    top: 0px;
}

div.nav-desktop a:after
{
    right: 0px;
    bottom: 0px;
}

div.nav-desktop a:hover:before, div.nav-desktop a:hover:after
{
    opacity: 1;
    width: 100%;
}

/* List items style reset */
li {
    list-style-type: none;
}

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1; /* Place behind other content */
}
.content {
    position: relative;
    z-index: 1; /* Place above the canvas */

}

/* footer*/
.contact{
    position: relative;
    top:15px;
    }
    .social-connection {
      display: flex;
      justify-content: center;
    }
    
    .social-link {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 10px;
      color: #d2edfc; /* You can style the color of the icons here */
      font-size: 24px; /* Adjust the size of the icons as needed */
      transition: transform 0.3s ease;
    }
    
    .social-link:hover {
    
      transform: scale(1.2);
    }
    /* Style for LinkedIn icon */
    .linkedin:hover {
    color: #0077b5; /* Change to LinkedIn color on hover */
    }
    
    /* Style for Instagram icon */
    .instagram:hover {
    color: #bc2a8d; /* Change to Instagram color on hover */
    }
    
    /* Style for GitHub icon */
    .github:hover {
    color: #ffffff; /* Change to GitHub color on hover */
    }
    .social-connection img {
    width: 10px;
    height: 10px;
    margin: 10px;
    
    }
    
    .University {
    display: none;
    justify-content: center;
    }
    
    
    .University img {
      /* width: 100px; */
      height: 40px;
    }
    
    .University p {
      margin-left: 10px;
    }
    
    .University a {
      color: rgb(24, 21, 21);
      text-decoration: none;
    }
    
    .University a:hover {
      color: yellow;
    }
    
    
    .DCSE  a {
    color: white; /* Default color for the link */
    text-decoration: none; /* Remove underline */
    display: flex;
    justify-content: center;
    }
    .mail a{
        display: flex;
        justify-content: center;
        color: rgb(43, 37, 30);
        margin-top: 10px;
        padding-right: 5px;
    }
    .copyright {
    display: flex;
    justify-content: center;
    color: rgb(89, 64, 32);
    margin-top: 10px;
    padding-right: 5px;
    }
    .copyright p {
    justify-content: center;
    font-size: 12px; /* Adjust the font size as needed */
    }
    .credit {
    color: white;
    display:flex;
    justify-content: center;
    text-decoration: none;
    
    }
    .credit a {
    text-decoration: none;
    color: #070707;
    mix-blend-mode: difference;
    }
    



@media (max-width:932px) {
    html,
    body {
      background-size: cover;
    }

    .svg-container {
       display: block;
       z-index: 5;
    }
    .navbar{
        width: 100%;
        background:black;
    }
  .navright {
    
    display: flex;
    justify-items: end;
    align-items: center;
    background:black;
    padding: 10px;
    position: fixed; /* Make the navbar fixed */
    top: 0;
    margin-right: 0;
    width: 100%;
    z-index: 3;
  }
  .nav-desktop {
    display: none;
  }
  
  .searchBox {
    position: relative;
    background: #275595;
    height: 25px;
    border-radius: 40px;
    right: 20px;
    padding:7px;

}


.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.fa-search {
    position: relative;
    color: white;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    width: 0px;

}

  .nav-responsive {
    display: none;
  }
  
  .container {
    display: block;
  }
  
  .container .bar1,
  .container .bar2,
  .container .bar3 {
    display: block;
    position: relative;
    right: 20px;
  }
  .navbar a {
  
      margin: 0 10px; /* Adjust margin for smaller screens */
  }
}
